Repository appsmithorg/design-system, pull requests merged in 2022-08, with the labels that each got.

#100 feat: Added button test
  .changeset/yellow-wasps-work.md
  packages/design-system/src/Button/Button.test.tsx
Labels: Task, Design System Pod

#109 fix: Button and ButtonTab component issue with onclick
  .changeset/gorgeous-weeks-learn.md
  .changeset/large-beans-brush.md
  .changeset/yellow-wasps-work.md
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/Button/index.tsx
  packages/design-system/src/ButtonTab/index.tsx
Labels: bug, Design System Pod

#113 feat: Design system changes from PR #15957
  .changeset/neat-trains-rush.md
  packages/design-system/src/Button/index.tsx
  packages/design-system/src/Callout/index.tsx
  packages/design-system/src/Dropdown/index.tsx
  packages/design-system/src/TagInput/index.tsx
Labels: Task, ads migration, Team Managers Pod, RBAC

#114 fix: changed import for highlight text
  packages/design-system/src/TagInput/index.tsx
Labels: Task, Team Managers Pod, RBAC

#123 fix: ui issues with checkbox, button, dropdown
  .changeset/rotten-fishes-push.md
  packages/design-system/src/Checkbox/index.tsx
  packages/design-system/src/Dropdown/index.tsx
  packages/design-system/src/common/index.ts
  packages/design-system/src/themes/default/index.css
Labels: Task, Design System Pod

#126 fix: Table Widget shows scrollbar when not in focus
  .changeset/polite-lions-search.md
  packages/design-system/src/Checkbox/index.tsx
  packages/design-system/src/ScrollIndicator/index.tsx
Labels: enhancement, Low, App Viewers Pod, Table Widget, UI Improvement, UX Improvement

#139 feat: Introducing icons for audit-logs
  .changeset/khaki-jokes-design.md
  packages/design-system/src/Icon/index.tsx
  packages/design-system/src/assets/icons/ads/execute.svg
Labels: Task

#143 fix:IconSelector onSelect function failing in local
  .changeset/strong-penguins-change.md
  packages/design-system/src/IconSelector/index.tsx
Labels: bug, Design System Pod, Needs Triaging

#136 feat: Make Table and Tab header sticky
  .changeset/tiny-peas-shout.md
  packages/design-system/src/Table/index.tsx
  packages/design-system/src/TagInput/index.tsx
Labels: enhancement, QA, Team Managers Pod, RBAC
