Repository appsmithorg/design-system, pull requests merged in 2022-12, with the labels that each got.

#255 feat: update button states
  .changeset/green-ravens-sip.md
  packages/design-system/src/Button/index.tsx
  packages/design-system/src/CopyToClipboard/index.tsx
  packages/design-system/src/FilePickerV2/index.tsx
  packages/design-system/src/ShowcaseCarousel/index.tsx
Labels: Design System Pod

#250 chore: Updating the logic for suggestions in the tag input component
  .changeset/clever-shoes-repeat.md
  .changeset/friendly-terms-tan.md
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/TagInput/index.tsx
Labels: bug, Needs Triaging, Team Managers Pod, RBAC

#272 fix: Text input not triggering validation on defaultValue change
  .changeset/beige-bags-act.md
  .changeset/clever-shoes-repeat.md
  .changeset/green-ravens-sip.md
  .changeset/heavy-wolves-sin.md
  .changeset/mighty-pants-grow.md
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/TextInput/index.tsx
Labels: bug, Design System Pod, Needs Triaging

#239 feat: Global theme variables
  packages/design-system/src/Button/index.tsx
  packages/design-system/src/Icon/index.tsx
  packages/design-system/src/themes/default/index.css
Labels: Task, Design System Pod

#276 chore: Adding new icons for using them on the audit logs page for Granular Access Control
  .changeset/friendly-dots-yell.md
  packages/design-system/src/Button/index.tsx
  packages/design-system/src/Icon/index.tsx
Labels: Task, Team Managers Pod, RBAC

#284 chore: Add delete row icon for Access control upgrade page
  .changeset/twenty-owls-perform.md
  packages/design-system/src/Button/index.tsx
  packages/design-system/src/Icon/index.tsx
Labels: Task, Team Managers Pod, RBAC

#281 feat: add a prefix prop to text input
  .changeset/friendly-dots-yell.md
  .changeset/heavy-wolves-sin.md
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/TextInput/index.tsx
Labels: Design System Pod

#287 fix: Setting the active tab only via onSelect function, if present in props
  .changeset/proud-lions-search.md
  packages/design-system/src/Tabs/Tabs.stories.tsx
  packages/design-system/src/Tabs/index.tsx
Labels: bug, Design System Pod, Needs Triaging, Team Managers Pod, RBAC, Deploy Preview

#291 chore: Dependabot vulnerabilities
  package.json
  yarn.lock
Labels: skip-changelog, Design System Pod, dependencies

#295 chore: update ButtonTab -> ButtonGroup
  packages/design-system/src/ButtonGroup/ButtonGroup.stories.tsx
  packages/design-system/src/ButtonGroup/ButtonGroup.test.tsx
  packages/design-system/src/ButtonGroup/index.tsx
  packages/design-system/src/ButtonTab/index.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/index.css
Labels: Design System Pod

#298 fix: Removing tooltip on table header as it is not part of our design system
  .changeset/weak-items-dress.md
  packages/design-system/src/Table/index.tsx
Labels: bug, Low, Needs Triaging, Team Managers Pod, RBAC, UI Improvement, UX Improvement, Production
