Repository appsmithorg/design-system, pull requests merged in 2022-09, with the labels that each got.

#155 fix: radio button color
  .changeset/rich-emus-turn.md
  packages/design-system/src/themes/default/index.css
Labels: bug, Design System Pod, Needs Triaging

#159 feat: support for updated pagination designs - added selectedOptionElements
  .changeset/kind-humans-listen.md
  packages/design-system/src/Radio/index.tsx
Labels: enhancement, Design System Pod, Frontend, BE Coders Pod, GraphQL Plugin

#162 fix: AppIcon story not showing in storybook
  .changeset/fifty-goats-march.md
  packages/design-system/src/AppIcon/AppIcon.stories.tsx
Labels: bug, Needs Triaging

#173 fix: Dropdown v1 design fixes
  .changeset/red-chairs-breathe.md
  packages/design-system/src/Dropdown/index.tsx
  packages/design-system/src/Icon/index.tsx
  packages/design-system/src/themes/default/index.css
Labels: bug, Medium, Design System Pod, Production

#176 fix: Added empty state for dropdown
  packages/design-system/src/Dropdown/index.tsx
Labels: bug, Medium, Design System Pod, Production

#180 fix: Dropdown keyboard navigation
  .changeset/fresh-ligers-knock.md
  README.md
  packages/design-system/src/Dropdown/Dropdown.stories.tsx
  packages/design-system/src/Dropdown/index.tsx
Labels: bug, Medium, Design System Pod, Production

#172 fix: props destructuring for functions passed as props
  .changeset/late-tomatoes-vanish.md
  .changeset/orange-poems-crash.md
  .changeset/selfish-donkeys-talk.md
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/Callout/index.tsx
  packages/design-system/src/ColorPicker/index.tsx
  packages/design-system/src/ColorSelector/index.tsx
  packages/design-system/src/DatePicker/index.tsx
  packages/design-system/src/DialogComponent/index.tsx
  packages/design-system/src/LabelWithTooltip/index.tsx
  packages/design-system/src/Menu/index.tsx
  packages/design-system/src/MenuItem/index.tsx
  packages/design-system/src/MultiSwitch/index.tsx
  packages/design-system/src/NotificationBanner/index.tsx
  packages/design-system/src/RectangularSwitcher/index.tsx
  packages/design-system/src/SearchInput/index.tsx
  packages/design-system/src/ShowcaseCarousel/index.tsx
  packages/design-system/src/StepComponent/index.tsx
  packages/design-system/src/TableDropdown/index.tsx
  packages/design-system/src/Tabs/index.tsx
  packages/design-system/src/Toggle/index.tsx
Labels: bug, Design System Pod

#189 fix: destructure props on uneditable field
  .changeset/green-panthers-destroy.md
  packages/design-system/src/UneditableField/index.tsx
Labels: bug, Design System Pod

#187 fix: Dropdown keyboard navigation and UI fixes
  .changeset/slow-sheep-smash.md
  packages/design-system/src/Dropdown/Dropdown.stories.tsx
  packages/design-system/src/Dropdown/index.tsx
Labels: bug, Design System Pod
