Repository appsmithorg/design-system, pull requests merged in 2022-07, with the labels that each got.

#20 ci: Added workflow for Storybook deployment
  .github/workflows/ds-storybook-deploy.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: Task

#23 feat: Added optional underline for tooltip target
  .changeset/bright-ducks-battle.md
  packages/design-system/package.json
  packages/design-system/src/Tooltip/index.tsx
  yarn.lock
Labels: Task, Design System Pod, migration

#22 feat: Migration - Text component
  .changeset/hungry-rockets-admire.md
  packages/design-system/package.json
  packages/design-system/src/Text/Text.stories.tsx
  packages/design-system/src/Text/index.tsx
  packages/design-system/src/Tooltip/Tooltip.stories.tsx
  packages/design-system/src/constants/classes.ts
  packages/design-system/src/constants/typography.ts
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/colors.css
  packages/design-system/src/themes/default/index.css
  packages/design-system/src/themes/default/variables.css
Labels: Task, Design System Pod

#35 fix: Beta release workflow fix
  .github/workflows/beta.yml
Labels: bug, Needs Triaging

#41 fix: Dependabot security alert fixes
  package.json
  yarn.lock
Labels: Task, Design System Pod

#40 feat: migrate dropdown v2
  .changeset/lemon-ladybugs-drop.md
  packages/design-system/README.md
  packages/design-system/src/DropdownV2/DropdownV2.stories.tsx
  packages/design-system/src/DropdownV2/index.tsx
  packages/design-system/src/HighlightText/HighlightText.stories.tsx
  packages/design-system/src/HighlightText/index.tsx
  packages/design-system/src/SearchComponent/SearchComponent.stories.tsx
  packages/design-system/src/SearchComponent/index.tsx
  packages/design-system/src/themes/default/colors.css
  packages/design-system/src/themes/default/index.css
Labels: Design System Pod, migration

#45 fix: Broken Icon paths in AppIcon component
  packages/design-system/src/AppIcon/index.tsx
  yarn.lock
Labels: Task, Design System Pod

#46 feat: Migration - Color Picker component
  .changeset/friendly-panthers-matter.md
  packages/design-system/src/ColorPicker/ColorPicker.stories.tsx
  packages/design-system/src/ColorPicker/index.tsx
  packages/design-system/src/constants/classes.ts
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/colors.css
Labels: Task, Design System Pod

#50 feat: Migration - Switcher component
  packages/design-system/src/Switcher/Switcher.stories.tsx
  packages/design-system/src/Switcher/index.tsx
  packages/design-system/src/index.ts
Labels: Task, Design System Pod, potential-duplicate

#49 feat: Migration - Switch component
  .changeset/smart-jeans-cheat.md
  packages/design-system/src/ColorPicker/index.tsx
  packages/design-system/src/Switch/Switch.stories.tsx
  packages/design-system/src/Switch/index.tsx
  packages/design-system/src/index.ts
Labels: Task, Design System Pod

#48 feat: Migration - Menu, Menu Item component
  .changeset/grumpy-brooms-tan.md
  packages/design-system/src/Menu/Menu.stories.tsx
  packages/design-system/src/Menu/index.tsx
  packages/design-system/src/MenuItem/index.tsx
  packages/design-system/src/constants/Icon.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/colors.css
  packages/design-system/src/themes/default/variables.css
Labels: Task, Design System Pod

#47 feat: Migration - Button component
  .changeset/plenty-keys-suffer.md
  packages/design-system/alpha-release.sh
  packages/design-system/package.json
  packages/design-system/src/AppIcon/index.tsx
  packages/design-system/src/Button/Button.stories.tsx
  packages/design-system/src/Button/index.tsx
  packages/design-system/src/common/index.ts
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/colors.css
  packages/design-system/tsconfig.json
  yarn.lock
Labels: Task, Design System Pod

#53 fix: Added resolution for patched nth check package
  package.json
  yarn.lock
Labels: Task, Design System Pod

#54 feat: Migrated Tag Input component
  .changeset/kind-nails-kick.md
  packages/design-system/.npmignore
  packages/design-system/README.md
  packages/design-system/create_story.sh
  packages/design-system/package.json
  packages/design-system/src/TagInput/TagInput.stories.tsx
  packages/design-system/src/TagInput/index.tsx
  packages/design-system/src/common/index.ts
  packages/design-system/src/constants/messages.tsx
  packages/design-system/src/themes/default/colors.css
  packages/design-system/src/themes/default/index.css
  packages/design-system/story_template.txt
Labels: Task, Design System Pod

#51 feat: Migration - radio, divider
  .changeset/nervous-knives-love.md
  packages/design-system/README.md
  packages/design-system/package.json
  packages/design-system/src/MenuDivider/MenuDivider.stories.tsx
  packages/design-system/src/MenuDivider/index.tsx
  packages/design-system/src/Radio/Radio.stories.tsx
  packages/design-system/src/Radio/index.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/index.css
  packages/design-system/src/themes/default/variables.css
  yarn.lock
Labels: Design System Pod, ads migration

#59 feat: Create ColorSelector
  .changeset/shiny-kangaroos-walk.md
  packages/design-system/src/ColorSelector/ColorSelector.stories.tsx
  packages/design-system/src/ColorSelector/index.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/index.css
Labels: Task, Design System Pod, ads migration

#55 feat: Migrate breadcrumbs component and story
  .changeset/tiny-tips-love.md
  packages/design-system/package.json
  packages/design-system/src/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/design-system/src/Breadcrumbs/index.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/colors.css
  packages/design-system/src/themes/default/index.css
  yarn.lock
Labels: Task, Design System Pod, ads migration

#60 feat: migrate callout
  .changeset/forty-forks-pretend.md
  packages/design-system/src/Callout/Callout.stories.tsx
  packages/design-system/src/Callout/index.tsx
  packages/design-system/src/constants/variants.ts
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/index.css
Labels: Task, Design System Pod, ads migration

#62 feat: migrate copy to clipboard
  .changeset/lazy-lamps-remember.md
  packages/design-system/package.json
  packages/design-system/src/CopyToClipboard/CopyToClipboard.stories.tsx
  packages/design-system/src/CopyToClipboard/index.tsx
  packages/design-system/src/index.ts
  yarn.lock
Labels: Design System Pod, ads migration

#57 feat: Migrate Toggle component from main repository
  .changeset/large-ligers-dance.md
  packages/design-system/src/Toggle/Toggle.stories.tsx
  packages/design-system/src/Toggle/index.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/colors.css
  packages/design-system/src/themes/default/index.css
Labels: Task, Design System Pod, ads migration

#56 feat: Migrated ButtonTab component, Added story
  .changeset/heavy-shirts-try.md
  packages/design-system/src/ButtonTab/ButtonTab.stories.tsx
  packages/design-system/src/ButtonTab/index.tsx
  packages/design-system/src/hooks/index.tsx
  packages/design-system/src/hooks/useDSEvent.ts
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/colors.css
  packages/design-system/src/themes/default/index.css
  packages/design-system/src/types/common.ts
Labels: Task, Design System Pod, ads migration

#64 feat: migrate dialog
  .changeset/sharp-coins-sneeze.md
  packages/design-system/src/DialogComponent/DialogComponent.stories.tsx
  packages/design-system/src/DialogComponent/index.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/index.css
Labels: Task, Design System Pod, ads migration

#66 feat: migrate label with tooltip
  .changeset/fifty-eyes-matter.md
  packages/design-system/src/LabelWithTooltip/LabelWithTooltip.stories.tsx
  packages/design-system/src/LabelWithTooltip/index.tsx
  packages/design-system/src/constants/typography.ts
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/index.css
  packages/design-system/src/types/common.ts
Labels: Task, Design System Pod, ads migration

#68 feat: Migration of ads folder components
  .changeset/selfish-keys-greet.md
  .gitignore
  packages/design-system/.npmignore
  packages/design-system/package.json
  packages/design-system/src/Button/index.tsx
  packages/design-system/src/DisplayImageUpload/DisplayImageUpload.stories.tsx
  packages/design-system/src/DisplayImageUpload/index.tsx
  packages/design-system/src/DraggableList/DraggableList.stories.tsx
  packages/design-system/src/DraggableList/index.tsx
  packages/design-system/src/EmojiPicker/EmojiPicker.stories.tsx
  packages/design-system/src/EmojiPicker/index.tsx
  packages/design-system/src/EmojiReactions/EmojiReactions.stories.tsx
  packages/design-system/src/EmojiReactions/index.tsx
  packages/design-system/src/FieldError/FieldError.stories.tsx
  packages/design-system/src/FieldError/index.tsx
  packages/design-system/src/GifPlayer/GifPlayer.stories.tsx
  packages/design-system/src/GifPlayer/index.tsx
  packages/design-system/src/IconSelector/IconSelector.stories.tsx
  packages/design-system/src/IconSelector/index.tsx
  packages/design-system/src/MultiSwitch/MultiSwitch.stories.tsx
  packages/design-system/src/MultiSwitch/index.tsx
  packages/design-system/src/NumberedStep/NumberedStep.stories.tsx
  packages/design-system/src/NumberedStep/index.tsx
  packages/design-system/src/ProgressiveImage/ProgressiveImage.stories.tsx
  packages/design-system/src/ProgressiveImage/index.tsx
  packages/design-system/src/RectangularSwitcher/RectangularSwitcher.stories.tsx
  packages/design-system/src/RectangularSwitcher/index.tsx
  packages/design-system/src/ScrollIndicator/ScrollIndicator.stories.tsx
  packages/design-system/src/ScrollIndicator/index.tsx
  packages/design-system/src/SearchInput/SearchInput.stories.tsx
  packages/design-system/src/SearchInput/index.tsx
  packages/design-system/src/ShowcaseCarousel/ShowcaseCarousel.stories.tsx
  packages/design-system/src/ShowcaseCarousel/index.tsx
  packages/design-system/src/Statusbar/Statusbar.stories.tsx
  packages/design-system/src/Statusbar/index.tsx
  packages/design-system/src/TabItemBackgroundFill/TabItemBackgroundFill.stories.tsx
  packages/design-system/src/TabItemBackgroundFill/index.tsx
  packages/design-system/src/TableDropdown/TableDropdown.stories.tsx
  packages/design-system/src/TableDropdown/index.tsx
  packages/design-system/src/Tabs/Tabs.stories.tsx
  packages/design-system/src/Tabs/index.tsx
  packages/design-system/src/TextField/index.tsx
  packages/design-system/src/assets/icons/others/profile-placeholder.svg
  packages/design-system/src/common/index.ts
  packages/design-system/src/constants/messages.tsx
  packages/design-system/src/hooks/index.tsx
  packages/design-system/src/hooks/useResizeObserver.ts
  packages/design-system/src/index.ts
  packages/design-system/src/themes/default/colors.css
  packages/design-system/src/themes/default/index.css
  packages/design-system/src/themes/default/variables.css
  packages/design-system/tsconfig.json
  packages/design-system/typings/lodash-move/index.d.ts
  yarn.lock
Labels: Task, Design System Pod

#69 fix: enable cross icon
  .changeset/cold-donuts-bow.md
  packages/design-system/src/SearchComponent/index.tsx
Labels: bug, Design System Pod

#52 feat: create the component migration checklist
  packages/design-system/Component-Migration-Checklist.md
Labels: documentation, Design System Pod, ads migration

#72 fix: missing variable of color black added
  packages/design-system/src/themes/default/colors.css
Labels: Task, Design System Pod

#70 feat: migrate notification banner
  .changeset/light-donuts-study.md
  packages/design-system/src/CloseButton/CloseButton.stories.tsx
  packages/design-system/src/CloseButton/index.tsx
  packages/design-system/src/NotificationBanner/NotificationBanner.stories.tsx
  packages/design-system/src/NotificationBanner/index.tsx
  packages/design-system/src/constants/messages.tsx
  packages/design-system/src/themes/default/colors.css
  packages/design-system/src/themes/default/index.css
Labels: Task, Design System Pod, ads migration

#76 fix: terser dependabot alert for ReDoS
  package.json
  yarn.lock
Labels: Task, Design System Pod

#80 fix: Jest configuration, svgr viewbox fix
  packages/design-system/jest.config.js
  packages/design-system/jest.setup.ts
  packages/design-system/package.json
  packages/design-system/rollup.config.js
  packages/design-system/src/ButtonTab/ButtonTab.test.tsx
  packages/design-system/src/Dropdown/Dropdown.test.tsx
  packages/design-system/src/Icon/Icon.test.tsx
  packages/design-system/src/Icon/index.tsx
  packages/design-system/src/TableDropdown/index.tsx
  packages/design-system/src/Tabs/index.tsx
  packages/design-system/src/TreeDropdown/TreeDropdown.test.tsx
  packages/design-system/src/TreeDropdown/index.tsx
  packages/design-system/tsconfig.json
  yarn.lock
Labels: Task, Design System Pod
