Repository appsmithorg/design-system, pull requests merged in 2023-10, with the labels that each got.

#642 fix: Updating tag input value to original value, when the form is reset
  .changeset/angry-news-care.md
  packages/design-system-old/src/TagInput/index.tsx
Labels: bug, Needs Triaging

#649 feat: List and List item
  packages/design-system/src/List/List.constants.ts
  packages/design-system/src/List/List.mdx
  packages/design-system/src/List/List.stories.tsx
  packages/design-system/src/List/List.styles.tsx
  packages/design-system/src/List/List.tsx
  packages/design-system/src/List/List.types.tsx
  packages/design-system/src/List/index.ts
  packages/design-system/src/__assets__/docs/list-item-anatomy.png
  packages/design-system/src/__assets__/docs/list-item-description-right.png
  packages/design-system/src/__assets__/docs/list-item-example.png
  packages/design-system/src/__assets__/docs/list-item-interaction.png
  packages/design-system/src/__assets__/docs/list-item-large.png
  packages/design-system/src/__assets__/docs/list-item-medium.png
  packages/design-system/src/__assets__/docs/list-item-spacing.png
  packages/design-system/src/__assets__/docs/list-item-state.png
  packages/design-system/src/index.ts
Labels: Task, Design System Pod, New Developers Pod, IDE

#647 feat: Added flex component
  .changeset/angry-news-care.md
  .changeset/bright-actors-run.md
  .changeset/nervous-plums-tell.md
  .changeset/thin-zebras-sneeze.md
  .changeset/weak-jokes-explode.md
  packages/design-system-old/CHANGELOG.md
  packages/design-system-old/package.json
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/plop-templates/stories.tsx.hbs
  packages/design-system/src/Box/Box.constants.ts
  packages/design-system/src/Box/Box.styles.tsx
  packages/design-system/src/Box/Box.tsx
  packages/design-system/src/Box/Box.types.ts
  packages/design-system/src/Box/index.ts
  packages/design-system/src/Flex/Flex.constants.ts
  packages/design-system/src/Flex/Flex.stories.tsx
  packages/design-system/src/Flex/Flex.tsx
  packages/design-system/src/Flex/Flex.types.ts
  packages/design-system/src/Flex/index.ts
  packages/design-system/src/Grid/Grid.constants.ts
  packages/design-system/src/Grid/Grid.stories.tsx
  packages/design-system/src/Grid/Grid.tsx
  packages/design-system/src/Grid/Grid.types.ts
  packages/design-system/src/Grid/index.ts
  packages/design-system/src/__config__/constants.ts
  packages/design-system/src/__config__/types.ts
  packages/design-system/src/__config__/utils.ts
  packages/design-system/src/index.ts
  yarn.lock
Labels: Task, Design System Pod, potential-duplicate

#657 feat: allow react node for start icon in ListItem
  .changeset/perfect-mice-refuse.md
  packages/design-system/src/List/List.stories.tsx
  packages/design-system/src/List/List.styles.tsx
  packages/design-system/src/List/List.tsx
  packages/design-system/src/List/List.types.tsx
Labels: enhancement, New Developers Pod, IDE Navigation

#654 feat: Added form control
  .changeset/stale-parrots-learn.md
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/plop-templates/component.tsx.hbs
  packages/design-system/plop-templates/constants.ts.hbs
  packages/design-system/plop-templates/stories.tsx.hbs
  packages/design-system/plop-templates/types.ts.hbs
  packages/design-system/src/FormControl/FormControl.constants.ts
  packages/design-system/src/FormControl/FormControl.context.ts
  packages/design-system/src/FormControl/FormControl.stories.tsx
  packages/design-system/src/FormControl/FormControl.styles.tsx
  packages/design-system/src/FormControl/FormControl.tsx
  packages/design-system/src/FormControl/FormControl.types.ts
  packages/design-system/src/FormControl/index.ts
  packages/design-system/src/Input/Input.tsx
  packages/design-system/src/index.ts
Labels: Task, Design System Pod

#660 fix: Added z-index for table head
  .changeset/fluffy-badgers-love.md
  packages/design-system-old/src/Table/index.tsx
Labels: bug, High, Design System Pod, Needs Triaging, BE Coders Pod, Deploy Preview, Data Platform Pod, Custom environments

#662 feat: Added table component
  packages/design-system/package.json
  packages/design-system/src/Table/Table.constants.ts
  packages/design-system/src/Table/Table.stories.tsx
  packages/design-system/src/Table/Table.styles.tsx
  packages/design-system/src/Table/Table.tsx
  packages/design-system/src/Table/Table.types.ts
  packages/design-system/src/Table/index.ts
  packages/design-system/src/Table/reset.css
  packages/design-system/src/__theme__/default/index.css
  packages/design-system/src/index.ts
  yarn.lock
Labels: Task, Design System Pod

#665 feat: Added editable text
  packages/design-system/src/Text/Text.stories.tsx
  packages/design-system/src/Text/Text.styles.tsx
  packages/design-system/src/Text/Text.tsx
  packages/design-system/src/Text/Text.types.ts
Labels: Task, Design System Pod

#668 fix: List component line height class name
  .changeset/dull-donkeys-play.md
  .changeset/fluffy-badgers-love.md
  .changeset/perfect-mice-refuse.md
  packages/design-system-old/CHANGELOG.md
  packages/design-system-old/package.json
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/List/List.constants.ts
  packages/design-system/src/List/List.styles.tsx
  packages/design-system/src/List/List.tsx
  packages/design-system/src/List/List.types.tsx
Labels: Task, Design System Pod

#667 chore: Adding icons in AppIcon component and Icon provider
  .changeset/wild-ads-sing.md
  packages/design-system-old/src/AppIcon/index.tsx
  packages/design-system/src/Icon/Icon.provider.tsx
  packages/design-system/src/__assets__/icons/ads/module.svg
Labels: Task, Frontend, Modules pod
