Repository appsmithorg/design-system, pull requests merged in 2023-02, with the labels that each got.

#358 feat: Theme update - Gray scale
  packages/design-system/plop-templates/constants.ts.hbs
  packages/design-system/plopfile.mjs
  packages/design-system/src/__config__/constants.ts
  packages/design-system/src/__theme__/default/colors.css
  packages/design-system/src/__theme__/default/index.css
Labels: Design System Pod, ads revamp

#324 feat: refactor divider
  .changeset/flat-radios-kick.md
  packages/design-system/src/Divider/Divider.stories.tsx
  packages/design-system/src/Divider/Divider.styles.tsx
  packages/design-system/src/Divider/Divider.test.tsx
  packages/design-system/src/Divider/Divider.tsx
  packages/design-system/src/Divider/Divider.types.ts
  packages/design-system/src/Divider/index.ts
  packages/design-system/src/index.ts
Labels: Design System Pod, ads revamp

#338 feat: Refactored checkbox component
  packages/design-system/package.json
  packages/design-system/src/Checkbox/Checkbox.constants.ts
  packages/design-system/src/Checkbox/Checkbox.stories.tsx
  packages/design-system/src/Checkbox/Checkbox.styles.tsx
  packages/design-system/src/Checkbox/Checkbox.tsx
  packages/design-system/src/Checkbox/Checkbox.types.tsx
  packages/design-system/src/Checkbox/index.ts
  packages/design-system/src/index.ts
  yarn.lock
Labels: Design System Pod, ads revamp

#337 feat: Refactored radio component
  .changeset/quiet-poems-boil.md
  packages/design-system-old/.storybook/preview.js
  packages/design-system/package.json
  packages/design-system/src/Radio/Radio.constants.ts
  packages/design-system/src/Radio/Radio.stories.tsx
  packages/design-system/src/Radio/Radio.styles.tsx
  packages/design-system/src/Radio/Radio.tsx
  packages/design-system/src/Radio/Radio.types.tsx
  packages/design-system/src/Radio/RadioGroup.stories.tsx
  packages/design-system/src/Radio/index.ts
  packages/design-system/src/index.ts
Labels: Design System Pod, ads revamp

#311 feat: add switch
  .changeset/moody-files-enjoy.md
  packages/design-system/package.json
  packages/design-system/src/Switch/Switch.constants.ts
  packages/design-system/src/Switch/Switch.stories.tsx
  packages/design-system/src/Switch/Switch.styles.tsx
  packages/design-system/src/Switch/Switch.tsx
  packages/design-system/src/Switch/Switch.types.ts
  packages/design-system/src/Switch/index.ts
  packages/design-system/src/Text/Text.types.ts
  packages/design-system/src/__theme__/default/index.css
  packages/design-system/src/index.ts
  yarn.lock
Labels: Design System Pod, potential-duplicate, ads revamp

#367 fix: Added icon size variations
  .changeset/great-zebras-fold.md
  packages/design-system/src/Icon/Icon.stories.tsx
  packages/design-system/src/Icon/Icon.styles.tsx
  packages/design-system/src/Icon/Icon.tsx
  packages/design-system/src/Icon/Icon.types.ts
  packages/design-system/src/__config__/types.ts
Labels: Design System Pod, ads revamp

#279 feat: added item freeze functionality to draggable list
  .changeset/olive-impalas-compare.md
  packages/design-system-old/src/ControlIcons/index.tsx
  packages/design-system-old/src/DraggableList/DraggableList.stories.tsx
  packages/design-system-old/src/DraggableList/index.tsx
Labels: Design System Pod

#357 feat: Refactored Tooltip component
  .changeset/mean-carpets-perform.md
  packages/design-system/package.json
  packages/design-system/src/Tooltip/Tooltip.constants.ts
  packages/design-system/src/Tooltip/Tooltip.css
  packages/design-system/src/Tooltip/Tooltip.stories.tsx
  packages/design-system/src/Tooltip/Tooltip.tsx
  packages/design-system/src/Tooltip/Tooltip.types.tsx
  packages/design-system/src/Tooltip/index.ts
  packages/design-system/src/__theme__/default/index.css
  packages/design-system/src/index.ts
  yarn.lock
Labels: Design System Pod, ads revamp

#334 feat: Refactored button component
  .changeset/witty-suns-invent.md
  packages/design-system/src/Button/Button.constants.ts
  packages/design-system/src/Button/Button.stories.tsx
  packages/design-system/src/Button/Button.styles.tsx
  packages/design-system/src/Button/Button.tsx
  packages/design-system/src/Button/Button.types.ts
  packages/design-system/src/Button/index.ts
  packages/design-system/src/Icon/Icon.tsx
  packages/design-system/src/Icon/Icon.types.ts
  packages/design-system/src/Spinner/Spinner.constants.ts
  packages/design-system/src/Spinner/Spinner.stories.tsx
  packages/design-system/src/Spinner/Spinner.styles.tsx
  packages/design-system/src/Spinner/Spinner.tsx
  packages/design-system/src/Spinner/Spinner.types.tsx
  packages/design-system/src/Spinner/index.ts
  packages/design-system/src/__theme__/default/colors.css
  packages/design-system/src/__theme__/default/index.css
  packages/design-system/src/index.ts
Labels: Design System Pod, ads revamp

#333 feat: refactor toast
  packages/design-system/package.json
  packages/design-system/src/Button/Button.styles.tsx
  packages/design-system/src/Toast/Toast.stories.tsx
  packages/design-system/src/Toast/Toast.styles.tsx
  packages/design-system/src/Toast/Toast.tsx
  packages/design-system/src/Toast/Toast.types.tsx
  packages/design-system/src/Toast/index.ts
  packages/design-system/src/__theme__/default/colors.css
  packages/design-system/src/index.ts
  yarn.lock
Labels: Design System Pod, ads revamp

#376 feat: add callout
  .changeset/shaggy-stingrays-drum.md
  packages/design-system/src/Callout/Callout.constants.ts
  packages/design-system/src/Callout/Callout.stories.tsx
  packages/design-system/src/Callout/Callout.styles.tsx
  packages/design-system/src/Callout/Callout.tsx
  packages/design-system/src/Callout/Callout.types.ts
  packages/design-system/src/Callout/index.ts
  packages/design-system/src/Icon/getIconByKind.tsx
  packages/design-system/src/Toast/Toast.stories.tsx
  packages/design-system/src/Toast/Toast.tsx
  packages/design-system/src/Toast/Toast.types.tsx
  packages/design-system/src/__config__/types.ts
  packages/design-system/src/__theme__/default/index.css
  packages/design-system/src/index.ts
Labels: Design System Pod, ads revamp
