Repository appsmithorg/design-system, pull requests merged in 2023-08, with the labels that each got.

#535 feat: add underlines to links across all states
  .changeset/few-llamas-hug.md
  .changeset/fifty-plums-juggle.md
  .changeset/unlucky-eyes-mate.md
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/Link/Link.styles.tsx
Labels: Task, Test Plan Approved, Design System Pod, ADS Components

#531 chore: in avatar, calculate firstLetter from label if passed and make it a fallback
  packages/design-system/src/Avatar/Avatar.tsx
Labels: enhancement, Design System Pod

#567 feat: add popover
  .changeset/heavy-walls-worry.md
  packages/design-system/package.json
  packages/design-system/src/Modal/Modal.types.ts
  packages/design-system/src/Popover/Popover.constants.ts
  packages/design-system/src/Popover/Popover.mdx
  packages/design-system/src/Popover/Popover.stories.tsx
  packages/design-system/src/Popover/Popover.styles.tsx
  packages/design-system/src/Popover/Popover.tsx
  packages/design-system/src/Popover/Popover.types.ts
  packages/design-system/src/Popover/index.ts
  packages/design-system/src/__assets__/docs/popover-anatomy.png
  packages/design-system/src/__assets__/docs/popover-spacing.png
  packages/design-system/src/index.ts
  yarn.lock
Labels: Test Plan Approved, Design System Pod

#542 feat: Category token
  packages/design-system/src/Avatar/Avatar.styles.tsx
  packages/design-system/src/Button/Button.styles.tsx
  packages/design-system/src/Callout/Callout.styles.tsx
  packages/design-system/src/Checkbox/Checkbox.styles.tsx
  packages/design-system/src/Collapsible/Collapsible.styles.tsx
  packages/design-system/src/DatePicker/DatePicker.styles.tsx
  packages/design-system/src/DatePicker/styles.css
  packages/design-system/src/Divider/Divider.styles.tsx
  packages/design-system/src/Icon/getIconByKind.tsx
  packages/design-system/src/Input/Input.styles.tsx
  packages/design-system/src/Link/Link.styles.tsx
  packages/design-system/src/Menu/Menu.styles.tsx
  packages/design-system/src/Modal/Modal.styles.tsx
  packages/design-system/src/Radio/Radio.styles.tsx
  packages/design-system/src/SegmentedControl/SegmentedControl.styles.tsx
  packages/design-system/src/Select/styles.css
  packages/design-system/src/Spinner/Spinner.styles.tsx
  packages/design-system/src/Switch/Switch.styles.tsx
  packages/design-system/src/Tab/Tab.styles.tsx
  packages/design-system/src/Tag/Tag.styles.tsx
  packages/design-system/src/Text/Text.styles.tsx
  packages/design-system/src/Toast/Toast.styles.tsx
  packages/design-system/src/ToggleButton/ToggleButton.styles.tsx
  packages/design-system/src/Tooltip/Tooltip.css
  packages/design-system/src/__theme__/default/index.css
  packages/design-system/src/__theme__/default/semantic.css
Labels: Task, Design System Pod, ADS Category Token

#588 fix: change collapsible toggle arrow directions from up/down to down/right
  .changeset/stale-drinks-hide.md
  packages/design-system/src/Collapsible/Collapsible.tsx
Labels: Task, App Viewers Pod, ADS Component Issue, Widget Discoverability

#579 feat: documentation updates
  .changeset/twelve-panthers-lick.md
  packages/design-system/plop-templates/component.mdx.hbs
  packages/design-system/plopfile.mjs
  packages/design-system/src/Callout/Callout.stories.tsx
  packages/design-system/src/Collapsible/Collapsible.mdx
  packages/design-system/src/NumberInput/NumberInput.mdx
  packages/design-system/src/Spinner/Spinner.mdx
  packages/design-system/src/Spinner/Spinner.stories.tsx
  packages/design-system/src/__assets__/docs/collapsible-anatomy.png
  packages/design-system/src/__assets__/docs/collapsible-spacing.png
Labels: Task, Design System Pod

#590 feat: change some styles in popover
  packages/design-system/src/Menu/Menu.styles.tsx
  packages/design-system/src/Popover/Popover.styles.tsx
  packages/design-system/src/Popover/Popover.tsx
  packages/design-system/src/Select/styles.css
  packages/design-system/src/__theme__/default/index.css
Labels: Design System Pod

#589 chore: update ToggleButton.mdx
  packages/design-system/src/ToggleButton/ToggleButton.mdx
  packages/design-system/src/ToggleButton/ToggleButton.stories.tsx
  packages/design-system/src/ToggleButtonGroup/ToggleButtonGroup.stories.tsx
Labels: documentation, Task, Design System Pod, User Education Pod
