Repository appsmithorg/design-system, pull requests merged in 2023-01, with the labels that each got.

#308 chore: Adding data test ids on a few components
  packages/design-system/src/MenuItem/index.tsx
  packages/design-system/src/Table/index.tsx
Labels: Task, Team Managers Pod, RBAC

#286 fix: Changes to support branding components
  .changeset/beige-swans-tie.md
  .changeset/beige-wombats-destroy.md
  .changeset/clean-apricots-look.md
  .changeset/early-moons-accept.md
  .changeset/in-app-embed-settings-icons.md
  .changeset/proud-lions-search.md
  .changeset/real-eyes-drive.md
  .changeset/twenty-owls-perform.md
  .changeset/weak-items-dress.md
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/Checkbox/index.tsx
  packages/design-system/src/DatePicker/index.tsx
  packages/design-system/src/DatePicker/styles.css
  packages/design-system/src/DateRangePicker/index.tsx
  packages/design-system/src/DateRangePicker/styles.css
  packages/design-system/src/Dropdown/index.tsx
  packages/design-system/src/Tabs/index.tsx
  packages/design-system/src/themes/default/index.css
Labels: Task, Design System Pod

#303 chore: updated react versions to 17
  .changeset/empty-olives-refuse.md
  packages/design-system/package.json
  yarn.lock
Labels: dependencies

#335 feat: Refactored icon component
  .changeset/fresh-mangos-knock.md
  .changeset/sour-ghosts-train.md
  packages/design-system-old/CHANGELOG.md
  packages/design-system-old/package.json
  packages/design-system/src/Icon/Icon.provider.tsx
  packages/design-system/src/Icon/Icon.stories.tsx
  packages/design-system/src/Icon/Icon.styles.tsx
  packages/design-system/src/Icon/Icon.tsx
  packages/design-system/src/Icon/Icon.types.ts
  packages/design-system/src/Icon/index.ts
  packages/design-system/src/box.stories.tsx
  packages/design-system/src/index.ts
Labels: Design System Pod, ads revamp
