Repository appsmithorg/design-system, pull requests merged in 2023-09, with the labels that each got.

#601 chore: set up jest
  packages/design-system/jest.config.js
  packages/design-system/jest.setup.js
  packages/design-system/package.json
  yarn.lock
Labels: Design System Pod, ads unit test

#602 feat: Add size and scroll guidelines to popover documentation
  packages/design-system/src/Popover/Popover.mdx
  packages/design-system/src/Popover/Popover.stories.tsx
Labels: Design System Pod, ADS Component Documentation

#603 fix: divider colors
  .changeset/moody-fans-warn.md
  packages/design-system/src/DatePicker/styles.css
  packages/design-system/src/Menu/Menu.styles.tsx
  packages/design-system/src/Popover/Popover.styles.tsx
  packages/design-system/src/Select/styles.css
  packages/design-system/src/__theme__/default/index.css
Labels: Design System Pod

#605 chore: Add a11y addon
  packages/design-system/.storybook/main.js
  packages/design-system/.storybook/preview.js
  packages/design-system/package.json
  yarn.lock
Labels: Task, Design System Pod, ads unit test

#618 chore: set up chromatic workflows
  .github/workflows/chromatic.yml
Labels: Task, Design System Pod, ads unit test

#592 feat: Documentation category token
  .changeset/fifty-plums-juggle.md
  .changeset/grumpy-bottles-travel.md
  .changeset/moody-fans-warn.md
  .changeset/olive-buckets-dance.md
  .changeset/rude-beans-allow.md
  .changeset/stale-drinks-hide.md
  .changeset/twelve-panthers-lick.md
  .changeset/wild-deers-sing.md
  packages/design-system/.storybook/main.js
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/plop-templates/styles.tsx.hbs
  packages/design-system/src/Button/Button.mdx
  packages/design-system/src/Button/Button.styles.tsx
  packages/design-system/src/Callout/Callout.mdx
  packages/design-system/src/Documentation/CategoryTokens/ActionTokens.mdx
  packages/design-system/src/Documentation/CategoryTokens/ContentTokens.mdx
  packages/design-system/src/Documentation/CategoryTokens/ControlTokens.mdx
  packages/design-system/src/Documentation/CategoryTokens/Introduction.mdx
  packages/design-system/src/Documentation/CategoryTokens/ResponseTokens.mdx
  packages/design-system/src/Documentation/Colors.mdx
  packages/design-system/src/Documentation/DesignTokens.mdx
  packages/design-system/src/Documentation/FAQs.mdx
  packages/design-system/src/Documentation/Introduction.mdx
  packages/design-system/src/Documentation/LeanGuidelines.mdx
  packages/design-system/src/Documentation/Space.mdx
  packages/design-system/src/Documentation/Typography.mdx
  packages/design-system/src/Documentation/components/CodeBlock.tsx
  packages/design-system/src/Documentation/components/ColorBlock.tsx
  packages/design-system/src/Text/Text.styles.tsx
  packages/design-system/src/__assets__/docs/categorize-elements-in-ui.png
  packages/design-system/src/__assets__/docs/categoryTokenStructure.png
  packages/design-system/src/__assets__/docs/styling-label-active-state.png
  packages/design-system/src/__assets__/docs/styling-switch-checked-state.png
  packages/design-system/src/__assets__/docs/styling-switch-default-state.png
  packages/design-system/src/__theme__/default/index.css
Labels: documentation, Task, Design System Pod

#629 feat: Added contribution checklist
  packages/design-system/src/Documentation/ContributionChecklist.mdx
Labels: documentation, Task, Design System Pod

#604 chore: Add new props for hiding past 2 years filter in date-range-picker component
  .changeset/bright-actors-run.md
  packages/design-system/src/DatePicker/DatePicker.tsx
  packages/design-system/src/DatePicker/DatePicker.types.ts
  packages/design-system/src/DatePicker/DateRangePicker.stories.tsx
Labels: bug, Medium, Design System Pod, Needs Triaging, Team Managers Pod, Production, Audit Logs

#610 fix: Adding support for `to` prop even when `onClick` prop is being sent
  packages/design-system/src/Link/Link.stories.tsx
  packages/design-system/src/Link/Link.tsx
  packages/design-system/src/Link/Link.types.tsx
Labels: Design System Pod, Team Managers Pod, SCIM

#635 chore: add tests for divider and icon
  packages/design-system/fileTransformer.js
  packages/design-system/src/Divider/Divider.test.tsx
  packages/design-system/src/Icon/Icon.provider.tsx
  packages/design-system/src/Icon/Icon.stories.tsx
  packages/design-system/src/Icon/Icon.test.tsx
Labels: Task, Design System Pod, potential-duplicate, ads unit test

#638 chore: add unit tests for link
  packages/design-system/src/Link/Link.test.tsx
Labels: Task, Design System Pod, potential-duplicate, ads unit test

#637 chore: set up chromatic
  .github/workflows/chromatic.yml
Labels: Task, Design System Pod, ads unit test

#641 feat: added file and box icons for IA Redesign
  .changeset/nervous-plums-tell.md
  packages/design-system/src/Icon/Icon.provider.tsx
  packages/design-system/src/__assets__/icons/ads/box-3-line.svg
Labels: Task, Design System Pod, New Developers Pod, IDE
