Repository appsmithorg/design-system, pull requests merged in 2023-07, with the labels that each got.

#515 chore: upgrade to storybook 7
  .changeset/soft-eyes-sin.md
  .github/workflows/storybook-tests.yml
  .gitignore
  .yarn/releases/yarn-3.6.0.cjs
  .yarnrc.yml
  package.json
  packages/design-system/.babelrc.json
  packages/design-system/.storybook/main.js
  packages/design-system/.storybook/preview.js
  packages/design-system/globals.d.ts
  packages/design-system/package.json
  yarn.lock
Labels: Task, Design System Pod

#525 chore: Adding link-unlink icon from remixicon-react
  .changeset/curly-donuts-invent.md
  packages/design-system/src/Icon/Icon.provider.tsx
Labels: Task, Team Managers Pod, SCIM

#526 chore: Adding user settings line icon from remixicon react
  .changeset/fifty-planets-repeat.md
  packages/design-system/src/Icon/Icon.provider.tsx
Labels: Task, Team Managers Pod, SCIM

#516 feat: add collapsible component
  .changeset/curly-donuts-invent.md
  .changeset/fifty-planets-repeat.md
  .changeset/unlucky-eyes-mate.md
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/Collapsible/Collapsible.constants.ts
  packages/design-system/src/Collapsible/Collapsible.stories.tsx
  packages/design-system/src/Collapsible/Collapsible.styles.tsx
  packages/design-system/src/Collapsible/Collapsible.tsx
  packages/design-system/src/Collapsible/Collapsible.types.ts
  packages/design-system/src/Collapsible/index.ts
  packages/design-system/src/index.ts
Labels: enhancement, Design System Pod, App Viewers Pod, ADS Components, Widget Discoverability
