Repository appsmithorg/design-system, pull requests merged in 2023-06, with the labels that each got.

#483 feat: Adding Shortcuts for DateRangePicker
  .changeset/yellow-cherries-heal.md
  packages/design-system/src/DatePicker/DatePicker.constants.ts
  packages/design-system/src/DatePicker/DatePicker.styles.tsx
  packages/design-system/src/DatePicker/DatePicker.tsx
  packages/design-system/src/DatePicker/DatePicker.types.ts
  packages/design-system/src/DatePicker/DateRangePicker.stories.tsx
  packages/design-system/src/DatePicker/styles.css
Labels: bug, Release Blocker, Release, Design System Pod, Needs Triaging

#492 fix: add prop to pause on hover
  .changeset/fresh-zebras-brake.md
  packages/design-system/src/Toast/Toast.tsx
Labels: Task, Design System Pod

#493 fix: editable text
  packages/design-system-old/src/EditableTextSubComponent/index.tsx
  packages/design-system-old/src/EditableTextWrapper/index.tsx
Labels: bug, Medium, Task, Design System Pod, ADS Component Issue, Property Pane, UI Builders Pod

#494 docs: add code snippets
  packages/design-system/.storybook/preview.js
  packages/design-system/src/DatePicker/DatePicker.stories.tsx
  packages/design-system/src/DatePicker/DateRangePicker.stories.tsx
  packages/design-system/src/Icon/Icon.stories.tsx
  packages/design-system/src/Input/Input.stories.tsx
  packages/design-system/src/Menu/Menu.stories.tsx
  packages/design-system/src/NumberInput/NumberInput.stories.tsx
  packages/design-system/src/SearchInput/SearchInput.stories.tsx
  packages/design-system/src/Select/Select.stories.tsx
  packages/design-system/src/Switch/Switch.stories.tsx
  packages/design-system/src/Tab/Tab.stories.tsx
Labels: Design System Pod

#502 fix: old gray, alignment
  .changeset/gorgeous-dogs-bow.md
  packages/design-system-old/src/EditableText/index.tsx
  packages/design-system-old/src/EditableTextSubComponent/index.tsx
  packages/design-system-old/src/GifPlayer/index.tsx
Labels: Design System Pod

#506 fix: Chromatic workflow
  packages/design-system/package.json
Labels: enhancement, Design System Pod

#503 fix: Search input focus issue and select styles specificity
  .changeset/fifty-birds-occur.md
  packages/design-system/src/SearchInput/SearchInput.tsx
  packages/design-system/src/Select/styles.css
Labels: bug, Medium, Design System Pod, Needs Triaging, UX Improvement, Production, ADS Component Issue

#491 fix: Added lazy loading icon in icon component
  .changeset/eighty-roses-suffer.md
  packages/design-system/src/Icon/Icon.provider.tsx
Labels: Design System Pod
